In [1]:
people = {
    "first": ["Corey", 'Jane', 'John','Ayoade','Adenike'], 
    "last": ["Schafer", 'Doe', 'Doe',"Olayiwola",'Orimolade'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com', "AyoOlayi@gmail.com","Adeorim@ymail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first       last                    email
0    Corey    Schafer  CoreyMSchafer@gmail.com
1     Jane        Doe        JaneDoe@email.com
2     John        Doe        JohnDoe@email.com
3   Ayoade  Olayiwola       AyoOlayi@gmail.com
4  Adenike  Orimolade        Adeorim@ymail.com

In [5]:
#Filtering... say you want to find everyone with surname Doe
df["last"]== "Doe"

0    False
1     True
2     True
3    False
4    False
Name: last, dtype: bool

In [6]:
#you get back a series; it gives you all the rows that meet the criteria set
#to change the filter to a variable
filt = (df["last"]== "Doe")

In [8]:
df[filt] #alternatively use df[df["last"]== "Doe"]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
#you can also use .loc
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
#you can pass in a second value 
df.loc[filt, "email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [15]:
#we can use and (&) or or(|) operator
filt = (df["last"]== "Doe") & (df["first"]== "John")

In [16]:
df.loc[filt, "email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [17]:
filt = (df["last"]== "Olayiwola") | (df["first"]== "Adenike")

In [18]:
df.loc[filt, "email"]

3    AyoOlayi@gmail.com
4     Adeorim@ymail.com
Name: email, dtype: object

In [19]:
#you can also get the opposite of a filter by inserting a tilda ~
df.loc[~filt, "email"]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object